.bg{
    background-color: green;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}


.filterForm{
    width: 75%;
    border: none;
    background-color: #fff;
}

.mat-form-field-appearance-fill 
.mat-form-field-flex {
    background-color: #fbfbfb0a
}

